body {
	background-image:url("http://www.suicidesquad.com/assets/images/gallery/group.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

h1 {
	color:#fff;
	font-size:200px;
	opacity:0.5;
	text-align: center;
  margin-top: 500px;
 margin-left: 5px;
	

}

input {
	padding: 50px;
  border-radius: 50px;
  width:200px;
  font-size:50px;
  background-color:rgba(255, 255, 255, 0.5);
  border:none;
}

div {
	position: absolute;
    top: 35%;
    left: 99%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
}

